html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #334;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1 {
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
form {
  display: grid;
}
button {
  width: max-content;
  color: #334;
}

.main {
  margin-left: 30px;
}
.controls {
  display: grid;
  float: left;
  padding-right: 20px;
}
.plot {
  display: grid;
  border: 1px solid #334;
  width: 600px;
  height: 600px;
}
#spirograph {
  width: 100%;
}
.singleControl {
  display: inline-flex;
  padding-bottom: 1.1em;
}
.singleControl label {
  display: table-column;
  padding-top: 0.25em;
}
.sliderHolder {
  margin-left: 1em;
}
.sliderValue {
  padding-left: 3px;
}